<!doctype html>
<html lang="en-US" class="is-header-fixed">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Thomas Botton - {{ page.title }}</title>

		<link rel='dns-prefetch' href='//fonts.googleapis.com' />

		<link rel='stylesheet' id='readme-fonts-css' href='//fonts.googleapis.com/css?family=Noticia+Text:400,400i,700,700i|Open+Sans:700&#038;subset=latin' type='text/css' media='all' />
		<link rel='stylesheet' id='bootstrap-css' href='/assets/css/bootstrap.min.css' type='text/css' media='all' />
		<link rel='stylesheet' id='fontello-css' href='/assets/css/fonts/fontello/css/fontello.css' type='text/css' media='all' />
		<link rel='stylesheet' id='prettify-css' href='/assets/js/google-code-prettify/prettify.css' type='text/css' media='all' />
		<link rel='stylesheet' id='uniform-css' href='/assets/js/jquery.uniform/uniform.default.css' type='text/css' media='all' />
		<link rel='stylesheet' id='magnific-popup-css' href='/assets/js/jquery.magnific-popup/magnific-popup.css' type='text/css' media='all' />
		<link rel='stylesheet' id='fluidbox-css' href='/assets/js/jquery.fluidbox/fluidbox.css' type='text/css' media='all' />
		<link rel='stylesheet' id='mediaelement-css' href='/assets/js/mediaelement/mediaelementplayer.min.css' type='text/css' media='all' />
		<link rel='stylesheet' id='flexslider-css' href='/assets/js/jquery.flexslider/flexslider.css' type='text/css' media='all' />
		<link rel='stylesheet' id='selection-sharer-css' href='/assets/js/selection-sharer/selection-sharer.css' type='text/css' media='all' />
		<link rel='stylesheet' id='elastislide-css'  href='/assets/js/responsive-image-gallery/elastislide.css' type='text/css' media='all' />
		<link rel='stylesheet' id='main-css' href='/assets/css/main.css' type='text/css' media='all' />
		<link rel='stylesheet' id='768-css' href='/assets/css/768.css' type='text/css' media='all' />
		<link rel='stylesheet' id='992-css' href='/assets/css/992.css' type='text/css' media='all' />
		<link rel='stylesheet' id='1200-css' href='/assets/css/1200.css' type='text/css' media='all' />
		<link rel='stylesheet' id='1400-css' href='/assets/css/1400.css' type='text/css' media='all' />
		<link rel='stylesheet' id='wp-fix-css' href='/assets/css/wp-fix.css' type='text/css' media='all' />
		<link rel='stylesheet' id='theme-style-css' href='/assets/css/style.css' type='text/css' media='all' />

		<script type='text/javascript' src='/assets/js/jquery-1.11.1.min.js'></script>
		<script type='text/javascript' src='/assets/js/jquery-migrate-1.2.1.min.js'></script>
		<script type='text/javascript' src='/assets/js/modernizr.min.js'></script>

		<link rel="apple-touch-icon" sizes="76x76" href="/assets/images/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
		<link rel="manifest" href="/assets/images/site.webmanifest">
		<link rel="mask-icon" href="/assets/images/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
	</head>
	<body class="page-template-default page">
		<div id="page" class="site">
			<header id="masthead" class="site-header" role="banner">
				<h1 class="site-title">
					<a href="/" rel="home">
						<img alt="Thomas Botton" src="/assets/images/thomas-botton-logo.png">
					</a>
				</h1>
				<nav id="primary-navigation" class="site-navigation primary-navigation" role="navigation">
					<a class="menu-toggle toggle-link"></a>
					<div class="nav-menu">
						<ul id="nav" class="menu-custom vs-nav">
						{% assign pages = site.pages | sort: "order" %}
						{% for p in pages %}
							{% assign current-menu = "" %}
							{% if p.url == page.url %}
								{% assign current-menu = " current-menu-item" %}
							{% endif %}
							<li class="{{ "menu-item menu-item-type-custom menu-item-object-custom" | append: current-menu }}">
								<a href="{{ p.url }}">{{ p.menu }}</a>
							</li>
						{% endfor %}
						</ul>
					</div>
				</nav>
				<div class="social-container">
					<a class="social-toggle toggle-link"></a>
					<div class="textwidget">
						<ul class="social">
							<li><a target="_blank" class="twitter" href="https://twitter.com/skeud"></a></li>
							<li><a target="_blank" class="linkedin" href="https://www.linkedin.com/in/thomas-botton/"></a></li>
						</ul>
					</div>
				</div>
			</header>

			{{ content }}

	        <footer id="colophon" class="site-footer" role="contentinfo">
				<div class="site-info">
					<p>
						Crafted <em>with</em> Jekyll <em>in the</em> Swiss countryside.
					</p>
				</div>
			</footer>
		</div>

		<script type='text/javascript' src='/assets/js/fastclick.js'></script>
		<script type='text/javascript' src='/assets/js/jquery.fitvids.js'></script>
		<script type='text/javascript' src='/assets/js/google-code-prettify/prettify.js'></script>
		<script type='text/javascript' src='/assets/js/jquery.validate.min.js'></script>
		<script type='text/javascript' src='/assets/js/jquery.uniform/jquery.uniform.min.js'></script>
		<script type='text/javascript' src='/assets/js/imagesloaded.pkgd.min.js'></script>
		<script type='text/javascript' src='/assets/js/jquery.isotope.min.js'></script>
		<script type='text/javascript' src='/assets/js/jquery.magnific-popup/jquery.magnific-popup.min.js'></script>
		<script type='text/javascript' src='/assets/js/jquery.fluidbox/jquery.fluidbox.min.js'></script>
		<script type='text/javascript' src='/assets/js/mediaelement/mediaelement-and-player.min.js'></script>
		<script type='text/javascript' src='/assets/js/jquery.flexslider/jquery.flexslider-min.js'></script>
		<script type='text/javascript' src='/assets/js/readingTime.js'></script>
		<script type='text/javascript' src='/assets/js/share.min.js'></script>
		<script type='text/javascript' src='/assets/js/selection-sharer/selection-sharer.js'></script>
		<script type='text/javascript' src='/assets/js/responsive-image-gallery/r-gallery.js'></script>
		<script type='text/javascript' src='/assets/js/socialstream.jquery.js'></script>
		<script type='text/javascript' src='/assets/js/main.js'></script>
		<script type='text/javascript' src='/assets/js/wp-fix.js'></script>
	</body>
</html>